body{
    background-color: rgb(67, 107, 107);
}

h2{
    text-align: center;
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(161, 161,161);
}

form{
    display: flex;
    flex-direction: column; 
    width: 50%;
    margin: auto;
    margin-top: 50px;
}

#p11{
    width: 460px;
    background-color: rgb(161, 161,161);
}

#p11:houver{
    color: rgb(161, 161,161);
    font-family: sans-serif;
}

.p12:focus {
    border-style: dotted;
    border-color: darkslategrey;
    outline: 0;
}

.p12{
    border-color: darkslategrey;
    border-style: dotted;
}

input{
    margin: 20px;
}

section {
    background-color:darkgrey;
    width: 1000px;
    border-radius: 10px;
    margin: auto;
    }
