footer {
    margin: 0px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: darkslategrey;
    width: 100%;
    color: whitesmoke;
    bottom: 0px;
    position:absolute;
    padding: 0;
}