footer {
    margin: 0px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    background-color: darkslategrey;
    width: 100%;
    color: whitesmoke;
    bottom: 0px;
    position:absolute;
    padding: 0;
}