<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="header.css">

    <title>head</title>

</head>

<body>
    <header>
        <nav>
            <div class="container">
                <div class="foto">
                    <img src="../assets/images/logoorigamii.png" width="70px">
                </div>

                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="../pages/sobre.html">sobre</a></li>
                    <li><a href="../pages/contato.html">contato</a></li>

                </ul>

            </div>
        </nav>
    </header>

    </header>

</body>

</html>